<li>
  Comment by <%= "#{comment.author.name} " +
  "#{distance_of_time_in_words(comment.created_at, Time.now)} ago" %><br>
  <%= comment.content %><br>
  <%= link_to "Reply", new_nested_comment_url(comment)  %>
</li>
<% unless comment.child_comments.empty? %>
<ul>
  <% comment.child_comments.each do |child_comment| %>
    <%= render 'comments/comment', comment: child_comment %>
  <% end %>
</ul>
<% end %>