<li>
  Comment by <%= "#{comment.author.name} " +
  "#{distance_of_time_in_words(comment.created_at, Time.now)} ago" %><br>
  <%= comment.content %><br>
  <%= link_to "Reply", new_nested_comment_url(comment)  %>
</li>
<% unless comments_by_parent_id[comment.id].empty? %>
<ul>
  <% comments_by_parent_id[comment.id].each do |child_comment| %>
    <%= render 'comments/comment', comment: child_comment,
      comments_by_parent_id: comments_by_parent_id %>
  <% end %>
</ul>
<% end %>